/*------------------------------------
  Default Style
------------------------------------*/
:root {
    --header-height: 100px;
    --backgrand-color: rgba(0,0,0,0.5);
}
html {
    font-family: 'Orbitron', sans-serif;
    font-size: 62.5%; 
}
body {
    font-size: 1.6em;
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
a[href="#"] {
    pointer-events: none;
}
ul {
    list-style: none;
}

@media screen and (max-width: 1024px) {
    :root {
        --header-height: 60px;
    }
    html {
        font-size: 42.5%;
    }
}

/*------------------------------------
  Loading
------------------------------------*/
.loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    transition: opacity 1s;
    background: #ffffff;
    z-index: 10000;
}
.loading.hidden {
    opacity: 0;
}
.loading_inner {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}
.loading_text {
    margin: 0;
    padding: 20px;
    font-size: 4.5em;
    font-family: 'Viga', sans-serif;
    text-align: center;
}
.loading_text span {
    overflow: hidden;
    display: inline-block;
}
.loading_text span span {
    transform: translateX(100%);
    transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
}
.loading_text.in-right span span {
    transform: translateX(0);
}
.loading_text.out-left span span {
    transform: translateX(-100%);
}

@media screen and (max-width: 768px) {
    .loading_inner {
        width: 100%;
    }
    .loading_text {
        font-size: 3em;
    }
}

/*------------------------------------
  Header
------------------------------------*/
header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    background: white;
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
    z-index: 999;
}
.header_wrap {
    height: calc(var(--header-height) - 43px); /* height - padding */
    margin: 0 25px;
    padding: 21.5px 0;
}
.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}
.logo_text {
    line-height: 57px;
    margin: 0;
}

/* PC nav */
nav {
    display: inline-block;
}
.nav_list a {
    position: relative;
}
.nav_list a::after {
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 2px;
    position: absolute;
    content: '';
    background: rgb(0, 140, 255);
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .5s;
}
.nav_list a:hover {
    color: rgb(0, 140, 255);
}
.nav_list a:hover::after {
    transform: scale(1, 1);
}
.nav_item {
    display: inline-block;
}
.nav_item a {
    padding: 10px;
}

/* Mobile nav */
#mobile_nav, .mobile_nav_check {
    display:none;
}
.mobile_nav_open {
    top: 10px;
    right: 25px;
    width: 30px;
    height: 20.5px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    z-index: 1001;
}
.mobile_nav_open span,
.mobile_nav_open span:before,
.mobile_nav_open span:after {
    width: 30px;
    height: 2px;
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    background: black;
    border-radius: 3px;
    transition: transform 0.2s 0.2s;
}
.mobile_nav_open span:before {
    bottom: -9.3px;
}
.mobile_nav_open span:after {
    bottom: -18.6px;
}
#mobile_nav_close {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background: black;
    opacity: 0.8;
    display: none;
    z-index: 100;
}
.mobile_nav_content {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    background: white;
    transition: .5s ease-in-out;
    transform: translateY(-100vh);
    z-index: 101;
}
#mobile_nav_input:checked ~ #mobile_nav_close {
    display: block;
}
#mobile_nav_input:checked ~ .mobile_nav_content {
    transform: translateY(0);
}
#mobile_nav_input:checked ~ .mobile_nav_open span {
    transform: rotate(-45deg) translate3d(-10px, 10px, 10px);
}
#mobile_nav_input:checked ~ .mobile_nav_open span::before {
    transform: rotate(90deg) translate3d(-8px, 0, 0);
}
#mobile_nav_input:checked ~ .mobile_nav_open span::after {
    transform: rotate(90deg) translate3d(-18px, 0, 0);
}

@media screen and (max-width: 1024px) {
    .header_wrap {
        height: calc(var(--header-height) - 10px); 
        padding: 5px 0;
    }
    .logo_text {
        line-height: 50px;
    }
    #pc_nav {
        display: none;
    }
    #mobile_nav {
        display: block;
    }
    .nav_list {
        padding: 0;
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .nav_list a {
        display: inline-block;
    }
    .nav_list a::after {
        display: none;
    }
    .nav_item {
        display: inline-block;
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    .nav_list a {
        font-size: 2.5rem;
    }
}

/*------------------------------------
  Main
------------------------------------*/
main {
    padding-top: var(--header-height);
    margin-bottom: 200px;
    text-align: center;
    animation: fadeIn 2s ease 0s 1 normal;
}

/* Top */
.top_image {
    width: 100%;
    height: 800px;
    background: var(--backgrand-color);
    background-image: url(../images/top_bg.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    display: table;
}
.top_title {
    font-size: 5.8rem;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    text-shadow: 2px 2px 10px black;
    animation: fadeInDown 1s;
}

/* Section */
section {
    width: 80%;
    margin: 100px 0;
    padding: 0 10%;
}
.title {
    width: 100%;
    margin: 50px 0;
    font-size: 2.8rem;
    display: inline-block;
}

/* Works */
.work_list {
    padding: 0;
    margin: 0 1% 0;
    display: flex;
    flex-wrap: wrap;
}
.work_item {
    width: calc( (100% / 3) - .3% * 2);
    height: 18vw;
    margin: .3%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    display: inline-flex;
    overflow: hidden;
    background: var(--backgrand-color);
}
.work_title,
.work_caption,
.work_date {
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: all 0.6s ease;
}
.work_caption,
.work_date {
    font-size: 2rem;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Works_item_in */
.work_item_in {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}
.work_item_in img {
    width: 100%;
    opacity: 1;
    transition: all 0.6s ease;
}
.work_item_in:after,
.work_item_in:before {
    width: 200%;
    height: 200%;
    position: absolute;
    content: '';
    opacity: 0.6;
    transition: all 0.55s ease-in-out;
    background: white;
    z-index: 1;
}
.work_item_in:after {
    top: 0;
    left: 0;
    transform: skew(-45deg) translateX(-150%);
}
.work_item_in:before {
    right: 0;
    bottom: 0;
    transform: skew(-45deg) translateX(150%);
}
.work_item_in figcaption {
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translateY(-50%);
    z-index: 2;
}
.work_item_in a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}
.work_item_in:hover img {
    filter: grayscale(100%);
}
.work_item_in:hover:after {
    transform: skew(-45deg) translateX(-50%);
}
.work_item_in:hover:before {
    transform: skew(-45deg) translateX(50%);
}
.work_item_in:hover .work_title,
.work_item_in:hover .work_caption,
.work_item_in:hover .work_date {
    transition-delay: 0.2s;
}
.work_item_in:hover .work_title,
.work_item_in:hover .work_caption {
    opacity: 1;
}
.work_item_in:hover .work_date {
    opacity: .7;
}

/* Projects */
#projects {
    background-image: url(../images/top_bg.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    z-index: 1;
}
#projects .title {
    color: white;
    text-shadow: 1px 1px 10px black;
}
.projects_list {
    padding: 0;
    margin: 0 1% 0;
    display: flex;
    flex-wrap: wrap;
}
.projects_item {
    width: 100%;
    height: 23vw;
    margin: 20px 0;
    display: inline-flex;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px;
    overflow: hidden;
}
.projects_title,
.projects_caption {
    padding: 4vw 0 2vw 0;
    margin: 0;
}
.projects_caption {
    font-family: 'Noto Sans JP', sans-serif;
}

/* Projects Item */
.threejs {
    background: linear-gradient(to right, rgb(88, 202, 240), rgb(22, 115, 238));
}
.ledart {
    background: linear-gradient(to right,#fcff41, #db36a4);
}

/* Projects_item_in */
.projects_item_in {
    width: 100%;
    margin: 0;
    position: relative;
    text-align: left;
}
.projects_item_in figcaption {
    height: 100%;
    margin: 0 2vw;
}
.projects_item_in a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 2;
}

/* About */
.about_container {
    display: flex;
    justify-content: center;
}
.about_text {
    width: 50%;
    max-width: 500px;
    margin: 0 50px;
}
.about_title {
    padding: 36px 0 20px;
    margin: 0;
    border-bottom: solid 3px;
}
.about_name,
.about_description {
    padding: 20px 20px 36px 20px;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}
.about_icon {
    width: 50%;
    max-width: 330px;
    max-height: 330px;
    margin: 0 50px;
}
.about_icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Contact */
.contact_list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.contact_item {
    width: 200px;
    margin: 30px 20px;
    position: relative;
}
.contact_item a {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.contact_icon {
    margin-bottom: 20px;
}
.contact_id {
    margin-top: 10px;
    font-family: 'Noto Sans JP', sans-serif;
}

/* Button (black) */
.more {
    height: 64px;
    line-height: 64px;
    margin: 50px 0;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
    visibility: hidden;
}
.button {
    padding: 20px 80px;
    border: solid Gray 2px;
    border-radius: 5px;
    position: relative;
}
.button::before,
.button::after {
    position: absolute;
    content: '';
    box-sizing: border-box;
    transition: all .3s;
    z-index: -1;
}
.button::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.button:hover {
    color: white;
}
.button:hover::after {
    transform: scale(1.3) rotate(180deg);
    background: rgb(33, 33, 33);
}

/* Button (white) */
#projects .button {
    color: white;
}
#projects .button:hover {
    color: black;
}
#projects .button:hover::after {
    background: white;
}

/* Back to top Button */
.page_top {
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    position: fixed;
    background-image: url(../images/page_top.png);
    background-size: contain;
    opacity: 0.6;
    z-index: 1001;
}
.page_top a{
    width: 60px;
    height: 60px;
    position: relative;
    display: block;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@media screen and (max-width: 1024px) {
    .work_item {
        width: 100%;
        height: 100%;
        margin: 1%;
    }
    .projects_item {
        height: unset;
        min-height: 30vw;
    }
    .projects_item_in figcaption {
        width: 90%;
        margin: 0 5%;
    }
    .about_container {
        flex-direction: column;
    }
    .about_icon {
        width: 80%;
        margin: 10px auto;
    }
    .about_text {
        width: 100%;
        margin: 10px auto;
    }
    .contact_list {
        width: 240px;
        flex-direction: column;
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    .top_image {
        height: 400px;
        background-image: url(../images/top_bg_mobile.jpg);
        background-size: unset;
        background-position: top center;
    }
    .top_title {
        font-size: 4.0rem;
    }
    section {
        width: 90%;
        margin: 20px 0;
        padding: 0 5%;
    }
}

/*------------------------------------
  Footer
------------------------------------*/
footer {
    width: 100%;
    height: 100px;
    color: white;
    background: rgb(33, 33, 33);
}
footer a {
    color: white;
}
.sns {
    padding: 23px 0px 0 10%;
    float: left;
    display: block;
}
.sns_list {
    margin: 0;
    padding: 0;
}
.sns_item {
    padding: 10px;
    display: inline-block;
}
.sns_item img {
    width: 30px;
    height: 30px;
}
.copyright {
    width: 100px;
    height: 20px;
    padding: 40px 0;
    margin: auto;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    footer {
        height: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sns {
        padding: 20px 0 0 0;
        float: unset;
    }
}