<div class="m-5">
  <div class="my-4 flex items-center text-2xl gap-2">
    <h2 class="font-name font-medium">岸本 篤</h2>
    <span>/</span>
    <p>Atsushi Kishimoto</p>
  </div>

  <div>
    <p class="text-justify">
      2002年江蘇省生まれ。
      小学生の頃からモノづくりに取り組む。
      福島工業高等専門学校出身、茨城大学 工学部 人間情報工学研究室に在籍。
      パソコン甲子園、技育展、高専プロコンに出場し、2021年にAWS Robot Delivery Challenge準優勝を果たす。
      2023年には常陸frogs5期生に選抜される。
    </p>
  </div>
</div>
