---
const name = '岸本 篤';
const englishName = 'Atsushi Kishimoto';
const summary = '2002年江蘇省生まれ。小学生の頃からモノづくりに取り組む。福島工業高等専門学校出身、茨城大学 工学部 人間情報工学研究室に在籍。パソコン甲子園、技育展、高専プロコンに出場し、2021年にAWS Robot Delivery Challenge準優勝を果たす。2023年には常陸frogs5期生に選抜される。';
---

<div class="m-5">
  <div class="my-4 flex items-center text-2xl gap-2">
    <h2 class="font-name font-medium">{name}</h2>
    <span>/</span>
    <p>{englishName}</p>
  </div>

  <div>
    <p class="text-justify">{summary}</p>
  </div>

  <h2 class="my-4 text-2xl">資格</h2>

  <div>
    <ul class="list-disc list-inside px-4">
      <li>応用情報技術者試験</li>
      <li>ディジタル技術検定 1級情報</li>
      <li>基本情報技術者試験</li>
      <li>第二種電気工事士</li>
    </ul>
  </div>

  <div tabindex="0" class="collapse collapse-arrow">
    <input type="checkbox" /> 
    <div class="collapse-title text-base px-0">
      全て見る
    </div>
    <div class="collapse-content"> 
      <ul class="list-disc list-inside">
        <li>2022年 応用情報技術者試験</li>
        <li>2022年 ディジタル技術検定 1級情報</li>
        <li>2021年 基本情報技術者試験</li>
        <li>2020年 ディジタル技術検定 2級情報</li>
        <li>2020年 ディジタル技術検定 3級</li>
        <li>2020年 第二種電気工事士</li>
        <li>2019年 IT パスポート試験</li>
      </ul>
    </div>
  </div>
</div>
