---
import '@fontsource/noto-sans-jp/400.css';
import '@fontsource/noto-sans-jp/700.css';
import '@fontsource/zen-old-mincho/400.css';
import '@fontsource/zen-old-mincho/500.css';

import SplashScreen from '@/components/SplashScreen.astro';
import Header from '@/components/Header.astro';
import BottomNavigation from '@/components/BottomNavigation.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-body">
		<SplashScreen />
		<Header />
		<slot />
		<BottomNavigation />
	</body>
</html>
